div {
    width: 450px;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160vh;
    background-color: #111;
    margin: 0 auto;
}

h1, p {
    text-align: left;
}

.Imagen1 {
    width: 430px;
    height: 230px;
    display: block;
    margin: 20px auto;
}

.Imagen2, .Imagen3 {
    width: 450px;
    height: 350px;
    display: block;
    margin: 20px auto;
}

a:link {
    color:aquamarine;
}