div {
    width: 450px;
    background-color: #fff;
    padding: 10px;
    margin: 0 auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 225vh;
    background-color: #111;
    margin: 0 auto;
}

h1, p {
    text-align: left;
}

.Imagen1 {
    width: 450px;
    height: 220px;
    display: block;
    margin: 20px auto;
}

.Imagen2 {
    width: 450px;
    height: 350px;
    display: block;
    margin: 20px auto;
}

.Imagen3 {
    width: 450px;
    height: 400px;
    display: block;
    margin: 20px auto;
}

a:link {
    color:turquoise;
}

a:visited {
    color:violet;
}

a:hover {
    color:blue;
}